{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="main-car">

    <h1>{{ name_car }}</h1>

    <div class="card mb-car-2-main">
        <div class="card-body-car">

            <div class="card mb-car-2-left">

                <div class="card-body">
                    {% for string in description %}
                        <p>{{ string }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>

            <div class="card mb-car-2-right">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% if car != [] %}
                    {% for photo in car %}

                    <img src="{{ photo['name_photo'] }}">

                    {% endfor %}
                    {% else %}
                    <p> Empty</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


    <!--кнопка взять тест драйв-->
    <!--отзывы-->
</div>

{% endblock %}
