{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="main-car">

    <h1>{{ car[0]['name_car'] }}</h1>

    <div class="card mb-car-2-main">
        <div class="card-body-car">

            <div class="card mb-car-2-left">

                <div class="card-body">
                    {% for string in description %}
                    <p>{{ string }}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div>

            <div class="card mb-car-2-right">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% if car != [] %}
                    {% for photo in car %}

                    <img src="{{ photo['name_photo'] }}">

                    {% endfor %}
                    {% else %}
                    <p> Empty</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="show_car_buttons">
        <form action="{{ url_for('user.add_review') }}" method="get">
            <button type="submit" name="add_car" value="{{ car[0]['name_car'] }}" class="btn btn-success">Add review
            </button>
        </form>

        <form action="{{ url_for('user.add_review') }}" method="get">
            <button type="submit" name="add_car" value="{{ car[0]['name_car'] }}" class="btn btn-primary">Add review
            </button>
        </form>

        <form action="{{ url_for('user.show_reviews') }}" method="get">
            <button type="submit" name="show_reviews" value="{{ car[0]['name_car'] }}" class="btn btn-primary">Reviews
            </button>
        </form>
    </div>

</div>

{% endblock %}
