{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="main">

    <h1>Add car for {{ brand }} brand</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"></h5>

            <form action="/admin/add_car" method="post" enctype="multipart/form-data"
                  id="form-contact">

                {{ form.hidden_tag() }}

                {% for field in form if field.name not in ['csrf_token'] %}
                <p>{{field.label()}}</p>
                <p>{{ field }}</p>
                {% endfor %}

                <button type="submit" name="add_car" class="btn btn-primary add_brand" value="{{ brand }}">Add car
                </button>

            </form>
        </div>
    </div>
    {% endblock %}

</div>
