{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="main-password_security">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h3>Write password for your account:</h3>
            <form action="/user/password_security" method="post" id="form-contact">
                {{ form.hidden_tag() }}

                {% for field in form %}
                {{ field }}
                {% endfor %}
                <button type="submit" name="password" class="btn btn-primary"
                        value="123"> Send
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}