{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="main-car">

    <h1>{{ car[0]['name_car'] }}</h1>

    <div class="card mb-car-2-main">
        <div class="card-body-car">

            <div class="card mb-car-2-left">

                <div class="card-body">
                    {% for string in description %}
                    <p>{{ string }}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div>

            <div class="card mb-car-2-right">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% if car != [] %}
                    {% for photo in car %}

                    <img src="{{ photo['name_photo'] }}">

                    {% endfor %}
                    {% else %}
                    <p> Empty</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="show_car_buttons">
        <form action="{{ url_for('user.take_test_drive', name_car= car[0]['name_car']) }}" method="get">
            <button type="submit" name="take_test_drive" value="" class="btn btn-success">Test Drive
            </button>
        </form>

        <form action="{{ url_for('user.add_review') }}" method="get">
            <button type="submit" name="add_review" value="{{ car[0]['name_car'] }}" class="btn btn-primary">Add review
            </button>
        </form>

        <form action="{{ url_for('user.show_reviews') }}" method="get">
            <button type="submit" name="show_reviews" value="{{ car[0]['name_car'] }}" class="btn btn-primary">Reviews
            </button>
        </form>
    </div>
    <div class="card mb-3-video">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="url_video">
                <iframe width="1200" height="800" src="{{car_video}}" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

{% endblock %}
